.featured__products {
  display: grid;
  justify-content: center;
  margin: 2rem 1rem 0 1rem;
  width: 50vh;
}

/* .featured__images {
  display: grid;
  margin-top: 3rem;
  width: 100vh;
  margin-top: 10rem;
}

.featured__images img {
  margin-left: 5rem;
} */


/* .title__images {
  top: 20rem;
  left: 15rem;
  font-size: var(--little-font);
} */

.title__images {
  position: relative;
  top: 7.5rem;
  left: 5rem;
  font-family: var(--second-font);
  font-weight: var(--font-bold);
  font-size: var(--mg-1);
  letter-spacing: .35rem;
  color: var(--white-color);
  text-align:unset;
}

.featured__title {
  font-family:var(--first-font);
  letter-spacing: .10rem;
  margin-bottom: var(--mg-1);
  text-align: center;
}

@media screen and (min-width: 768px){

  .featured__products {
    margin: 2rem auto;
  }

  .featured__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--mg-1);
    margin: var(--mg-2) auto;
    width: 150vh;
  }
  
  .featured__images img {
    margin-left: var(--mg-1);
    margin-right: 0;
    margin-top: 1.8rem;
  }
}  

