.featured__products {
  display: grid;
  justify-content: center;
  margin: 2rem 1rem 0 4rem;
  /* width: 50vh; */
}

.right__content {
  margin-top: -3rem;
}

.featured__images img {
  width: 100%;
  margin-left: 2.5rem;
}

.title__images p {
  position: relative;
  color: var(--white-color);
  top: 10rem;
  font-family: var(--second-font);
  font-size: 1.3rem;
  font-weight: var(--font-bold);
  left: 5rem;
  letter-spacing: .35rem;
}

.featured__title {
  font-family:var(--first-font);
  letter-spacing: .10rem;
  margin-bottom: var(--mg-1);
  text-align: center;
}

@media screen and (min-width: 768px){

.featured__products {
    margin: 2rem auto;
  }

.featured__container {
  display: flex;
  justify-content: center;
}

.right__content {
  margin-left: .2rem;
  margin-top: 25px;
}

  .title__images p {
    top: 11.5rem;
  }

  .featured__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: -2rem auto 0 auto;
  }
  
  .featured__images img {
    width: inherit;
    margin-left: var(--mg-1);
    margin-right: 0;
    margin-top: 1.8rem;
  }
}
