.tag__summer, .tag__launch, .tag__discount {
  border: 1px solid var(--text-color);
  color: var(--text-color);
  font-size: .8rem;
  padding: .3rem;
}

.tag__discount {
  background-color: var(--discount-color);
  border: var(--discount-color) 1px solid;
}

.tag__launch {
  background-color: var(--tag-color);
  border: var(--tag-color) 1px solid;
  color: var(--white-color);
}

.render__products {
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  border: var(--card-color) 1px solid;
  flex-direction: column;
  height: 430px;
  justify-content: center;
  margin-bottom: var(--mg-4);
  margin-left: var(--mg-1);
  transition: .5s;
  /* width: 250px; */
}

.render__products:hover {
  height: 470px;
  margin-bottom: 0;
}

.render__products:hover .product__button {
  opacity: 1;
}

.render__products:hover .favorite__icon {
  margin-top: -3rem;
}

.favorite__icon, .title__products, .product__button {
  width: calc(100% - 1rem);
}

.favorite__icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -0.5rem;
  transition: .5s;
}

.favorite_button {
  color: var(--second-color);
  cursor: pointer;
  font-size: 1.6rem;
}

.title__products {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.image__product {
  align-self: center;
  height: 285px;
}

.title__product, .instalments__product {
  color: var(--text-color);
  font-size: var(--small-font);
  letter-spacing: .1rem;
  margin-top: 3px;
  transition: .5s;
}

.title__product {
  align-self: flex-start;
  margin-left: .5rem;
}

.info__products {
  align-self: flex-start;
  margin-left: 1rem;
}

.price__product {
  font-size: calc(var(--small-font) + 2px);
  font-weight: var(--font-bold);
  margin-top: var(--mg-05);
}

.product__button {
  margin-bottom: -3rem;
  opacity: 0;
  transition: .5s;
}

.buy__button {
  cursor: pointer;
  background-color: var(--first-color);
  color: var(--white-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  letter-spacing: 1px;
  padding: .75rem 0;
  width: 100%;
}

.buy__button:hover {
  color: var(--title-home-color);
}

.all_products {
  max-width: 1200px;
}
