.tag__summer, .tag__launch, .tag__discount {
  font-size: .8rem;
  padding: 5px;
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

.tag__discount {
  background-color: #EBD7CE;
  border: 1px solid #EBD7CE;
}

.tag__launch {
  background-color: #824D3E;
  border: 1px solid #824D3E;
  color: var(--white-color);
}

.render__products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 430px;
  margin-left: var(--mg-1);
  background-color: var(--white-color);
  border: 1px solid #EEEEEE;
  transition: .5s;
  margin-bottom: var(--mg-4);
}

.render__products:hover {
  height: 470px;
  margin-bottom: 0;
}

.render__products:hover .product__button {
  opacity: 1;
}

/* .render__products:hover .instalments__product {
  margin-bottom: var(--mg-1);
} */

.render__products:hover .favorite__icon {
  margin-top: -3rem;
}

.favorite__icon, .title__products, .product__button {
  width: calc(100% - 1rem);
}

.favorite__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -0.5rem;
  transition: .5s;
}

.favorite_button {
  color: var(--second-color);
  font-size: 1.6rem;
  cursor: pointer;
}

.title__products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.image__product {
  align-self: center;
  height: 285px;
}

.title__product, .instalments__product {
  font-size: var(--small-font);
  color: var(--text-color);
  letter-spacing: .1rem;
  margin-top: 3px;
  transition: .5s;
}

.title__product {
  align-self: flex-start;
  margin-left: .5rem;
}

.info__products {
  align-self: flex-start;
  margin-left: 1rem;
}

.price__product {
  font-size: calc(var(--small-font) + 2px);
  margin-top: var(--mg-05);
  font-weight: var(--font-bold);
}

.product__button {
  opacity: 0;
  transition: .5s;
  margin-bottom: -3rem;
}

.buy__button {
  background-color: var(--first-color);
  color: var(--white-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  letter-spacing: 1px;
  width: 100%;
  padding: .75rem 0;
  cursor: pointer;
}

.buy__button:hover {
  color: var(--title-home-color);
}
